.title {
    font-family: "Arial";
    font-size: 60px;
    font-weight: bold;
    padding-bottom: 30px;
}

.square {
    background: #fff;
    border: 1px solid #999;
    float: left;
    font-size: 24px;
    font-weight: bold;
    line-height: 34px;
    height: 34px;
    margin-right: -1px;
    margin-top: -1px;
    padding: 0;
    text-align: center;
    width: 34px;
}

.general-container {
    height: 100vh;
}

.board-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.grid-container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
}

.grid {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 170px;
    padding-bottom: 50px;
}

.board-row {
    display: flex;
}

.score {
    min-width: 150px;
    padding-left: 40px;
    position: relative;
}

.score p.extra {
    position: absolute;
    top: 70px;
    left: 40px;
}


.board-row:after {
    display: 'flex';
    clear: both;
    content: '';
    display: table;
}

.status {
    margin-bottom: 10px;
}

.game {
    display: flex;
    flex-direction: row;
}

.game-info {
    margin-left: 20px;
}

.btn {
    margin-top: 30px;
}

.buttons-container {
    display: flex;
    column-gap: 30px;
}

.notification {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.reset {
    bottom: 20px;
    right: 20px;
    padding: 10px 20px;
    background-color: #fcca57;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
}

.next {
    bottom: 80px;
    right: 20px;
    padding: 10px 20px;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
}

.keyboard-container {
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

.keyboard {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.keyboard-row {
    display: flex;
    justify-content: center;
    gap: 5px;
}

.key {
    background-color: #eee;
    border: 1px solid #ccc;
    padding: 15px;
    border-radius: 5px;
    text-align: center;
    font-weight: bold;
}

.key.dark {
    background-color: #333;
    color: #fff;
}

.key.yellow {
    background-color: #fcca57;
    color: #fff;
}

.key.green {
    background-color: #76b157;
    color: #fff;
}