* {
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    margin: 20px;
    padding: 0;
}

h1 {
    margin-top: 0;
    font-size: 22px;
}

h2 {
    margin-top: 0;
    font-size: 20px;
}

h3 {
    margin-top: 0;
    font-size: 18px;
}

h4 {
    margin-top: 0;
    font-size: 16px;
}

h5 {
    margin-top: 0;
    font-size: 14px;
}

h6 {
    margin-top: 0;
    font-size: 12px;
}

code {
    font-size: 1.2em;
}

ul {
    padding-inline-start: 20px;
}

* {
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    margin: 20px;
    padding: 0;
}

.square {
    background: #fff;
    border: 1px solid #999;
    float: left;
    font-size: 24px;
    font-weight: bold;
    line-height: 34px;
    height: 34px;
    margin-right: -1px;
    margin-top: -1px;
    padding: 0;
    text-align: center;
    width: 34px;
}

.general-container {
    height: 100vh;
}

.board-container {
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.board-row {
    display: flex;
}

.board-row:after {
    display: 'flex';
    clear: both;
    content: '';
    display: table;
}

.status {
    margin-bottom: 10px;
}

.game {
    display: flex;
    flex-direction: row;
}

.game-info {
    margin-left: 20px;
}

.btn {
    margin-top: 30px;
}

.success-message {
    background-color: #b5ecb8;
    color: rgb(11, 196, 57);
    padding: 10px;
    margin-top: 10px;
    border: 1px solid rgb(30, 212, 70);
    border-radius: 5px;
    text-align: center;
}

.failure-message {
    background-color: #f09b9b;
    color: rgb(230, 42, 42);
    padding: 10px;
    margin-top: 10px;
    border: 1px solid rgb(236, 20, 20);
    border-radius: 5px;
    text-align: center;
}

.keyboard-container {
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

.keyboard {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.keyboard-row {
    display: flex;
    justify-content: center;
    gap: 5px;
}

.key {
    background-color: #eee;
    border: 1px solid #ccc;
    padding: 15px;
    border-radius: 5px;
    text-align: center;
    font-weight: bold;
}

.key.dark {
    background-color: #333;
    color: #fff;
}